.filterContainer {
    width: 100%;
    padding: 1px 15px;
    background-color: #ffffff
}

.filterSectionWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterButton{
    /* padding: 15px; */
    width: calc(50% - 20px);
    color : #171717;
    background-color:  #c5e09b;
    margin: 10px;
    text-align: center;
    border: 0;    
}
.activefilterButton{
    background-color: #7dba02;
    color : #171717;
    /* padding: 15px; */
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    border: 0;
}