.homeContainer {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
}


.homeContainer > .bodyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.homeContainer > .bodyContainer >.filterSectionContainer {
    width: 100%;
}
.homeContainer > .bodyContainer >.listContainer {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}


/* @media screen and (min-width: 701px) and (max-width: 1024px) {
    .homeContainer > .bodyContainer {
        flex-direction: row;
    }
} */
